[Unit]
Description=Prediction Market Arbitrage Scanner Timer
Requires=pred-market-arb.service

[Timer]
OnCalendar=*-*-* 03:30:00
Persistent=true

[Install]
WantedBy=timers.target
